* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

[hidden] {
    display: none;
}

body {
    overflow: hidden;
    color: white;
    background-color: black;
}

canvas {
    margin: 0 auto;
}